<script setup>
import {onMounted, ref} from 'vue'
import router from "../../router";

let categories = ref([])
let items = ref([])
let form = ref({
    discount_value: '',
    discount_type: '',
    category_ids:[],
    item_ids:[],
})
onMounted(async ()=>{
    getCategories()
    getMeals()
})

const getCategories = async ()=>{
    let response = await axios.get('/api/categories');
    categories.value = response.data.categories
}

const getMeals = async ()=>{
    let response = await axios.get('/api/items');
    items.value = response.data.items
}

const submitForm = async ()=>{
    let response = await axios.post('/api/discounts', form.value);
    if (response.data.success) {
        router.push('/discount')
    }else{
        alert(response.data.message)
    }
}


</script>

<template>
    <div>
        <h1>Create Discount</h1>
        <div>
            <router-link to="/discount" class="btn">return back</router-link>
        </div>
        <div>
            <label>Dicount Value</label>
            <input type="text" v-model="form.discount_value" required>
        </div>
        <div>
            <label>Discount Type</label>
            <select name="" id="" v-model="form.discount_type">
                <option value="all">All</option>
                <option value="item">Item</option>
                <option value="category">Category</option>
            </select>
        </div>

        <div v-if="form.discount_type === 'category'">
            <label>Category</label>
            <select multiple name="category_id[]" v-model="form.category_ids">
                <option value="">Select Category</option>
                <option v-for="(category, i) in categories" :key="category.id" :value="category.id">{{category.name}}</option>
            </select>
        </div>

        <div v-if="form.discount_type === 'item'">
            <label>Category</label>
            <select multiple name="category_id[]" v-model="form.item_ids">
                <option value="">Select Meals</option>
                <option v-for="(item, i) in items" :key="item.id" :value="item.id">{{item.name}}</option>
            </select>
        </div>
        <div  class="btn-box">
            <button @click="submitForm()" class="btn">create</button>
        </div>
    </div>
</template>

<style scoped>
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

.btn{
    text-decoration: none;
}
</style>

