<script setup>
import {onMounted, ref} from 'vue'

let discounts = ref([]);
onMounted(async ()=>{
    getDiscounts()
})

const getDiscounts = async ()=>{
    let response = await axios.get('/api/discounts');
    discounts.value = response.data.discounts
    console.log(discounts.value)
}


</script>

<template>
    <div>
        <h1>Discounts List</h1>
        <router-link to="/create_discount" class="btn">create discount</router-link>

        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Type</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="discount in discounts" :key="discount.id">
                <td>{{ discount.id }}</td>
                <td>{{ discount.discount_type }}</td>
                <td>{{ discount.discount_value }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<style scoped>
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

.btn{
    text-decoration: none;
}
</style>

