<script setup>
import {onMounted, ref} from 'vue'

let categories = ref([]);
let items = ref([])
onMounted(async ()=>{
    await getCategories()
})

const getCategories = async ()=>{
    let response = await axios.get('/api/menu_items');
    categories.value = response.data.categories
}

const getItems = async (id)=>{
    let response = await axios.get('/api/menu_items?category_id='+id);
    if (response.data.category.children) {
        categories.value = response.data.category.children
        items.value = []
    }else{
        items.value = response.data.category.items
        categories.value = []
    }
    console.log(response.data)
}




</script>

<template>
    <div class="container" v-if="categories.length > 0">
        <h1>Restaurant Menu</h1>
        <button @click="getCategories()" class="btn-home">Main Categories</button>
        <div class="card" v-for="category in categories" :key="category.id" @click="getItems(category.id)">
            <div class="title">
                <h1>{{ category.name }}</h1>
            </div>
            <div class="content">
                <div class="social">
                    <p>discount: <strong>{{category.discounted_price}}%</strong></p>
                </div>
            </div>
            <div class="circle"></div>
        </div>
    </div>
    <div class="container" v-else>
        <h1>Restaurant Menu</h1>
        <button @click="getCategories()" class="btn-home">Main Categories</button>
        <div class="card"  v-for="item in items" :key="item.id">
            <div class="title">
                <h1>{{ item.name }}</h1>
            </div>
            <div class="content">
                <div class="social">
                    <p>Price: <strong>{{item.price}} $</strong></p>
                </div>
            </div>
            <div class="circle"></div>
        </div>
    </div>
</template>

<style scoped>
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

.btn{
    text-decoration: none;
}
</style>

