<script setup>
import {onMounted, ref} from 'vue'

let items = ref([]);
onMounted(async ()=>{
    getItems()
})

const getItems = async ()=>{
    let response = await axios.get('/api/items');
    items.value = response.data.items
}


</script>

<template>
    <div>
        <h1>Items List</h1>
        <router-link to="/create_item" class="btn">create item</router-link>

        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Category</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="item in items" :key="item.id">
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.price }}</td>
                <td v-if="item.category">{{ item.category.name }}</td>
                <td v-else>{{ '-' }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<style scoped>
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

.btn{
    text-decoration: none;
}
</style>

