<script setup>
import {onMounted, ref} from 'vue'
import router from "../../router";

let categories = ref([])
let error_message = ref([])
let form = ref({
    name: '',
    category_id: '',
    price: 0
})
onMounted(async ()=>{
    getCategories()
})

const getCategories = async ()=>{
    let response = await axios.get('/api/categories');
    categories.value = response.data.categories
}

const submitForm = async ()=>{
    try {
        let response = await axios.post('/api/items', form.value);
        if (response.data.success) {
            router.push('/item')
        }else{
            console.log(response.data.message)
            alert(response.data.message)
        }
    }catch (e) {
        alert(e.response.data.message)
    }
}


</script>

<template>
    <div>
        <h1>Create Item</h1>
        <div>
            <router-link to="/item" class="btn">return back</router-link>
        </div>
        <div>
            <label>Name</label>
            <input type="text" v-model="form.name" required>
        </div>
        <div>
            <label>Price</label>
            <input type="text" v-model="form.price" required>
        </div>
        <div>
            <label>Category</label>
            <select name="category_id" id="category_id" v-model="form.category_id">
                <option value="">Select Parent</option>
                <option v-for="(category, i) in categories" :key="category.id" :value="category.id">{{category.name}}</option>
            </select>
        </div>
        <div  class="btn-box">
            <button @click="submitForm()" class="btn">create</button>
        </div>
    </div>
</template>

<style scoped>
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

.btn{
    text-decoration: none;
}
</style>

