.btn {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 5px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    margin-bottom: 30px;
}

.btn-home {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    border: 0;
    padding: 5px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    margin-bottom: 30px;
}

table{
    margin-top: 10px;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}

input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

/* Style the label to display next to the inputs */
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

.btn-box{
    width: 10%; margin-top: 10px;
}
.card {
    position: relative;
    margin: 10px auto;
    width: 450px;
    padding: 20px;
    box-shadow: 3px 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    border: 0;
    cursor: pointer;
}
.circle {
    border-radius: 3px;
    width: 150px;
    height: 150px;
    background: black;
    position: absolute;
    right: 0px;
    top: 0;
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    border-bottom-left-radius: 170px;
}
.content {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
}
h1 {
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 0;
}
h2 {
    font-size: 18px;
    letter-spacing: 0.5px;
    font-weight: 300;
}
.social {
    margin-bottom: 5px;
a {
    text-decoration: none !important;
    color: black;
    margin-left: 8px;
    font-weight: 300;
i {
    font-weight: 400;
}


.location {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
i {
    color: red;
}
p {
    font-weight: 300;
}

