
<template>
    <div class="navbar">
        <router-link to="/menu">Home</router-link>
        <router-link to="/category">Categories</router-link>
        <router-link to="/item">Items</router-link>
        <router-link to="/discount">Discounts</router-link>
    </div>
    <router-view />
</template>

<style>
.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px;
}
.navbar a {
    color: #fff;
    margin-right: 10px;
    text-decoration: none;
}
</style>
