<template>
    <div class="navbar">
        <router-link to="/category">Categories</router-link>
        <router-link to="/item">Items</router-link>
        <router-link to="/discount">Discounts</router-link>
        <!-- Add more navigation links as needed -->
    </div>
</template>
<script>
export default {
    // Add any necessary logic for the navigation bar component
};
</script>
<style>
/* Add styles for your navigation bar */
.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px;
}
.navbar a {
    color: #fff;
    margin-right: 10px;
    text-decoration: none;
}
</style>
