<script setup>
import {onMounted, ref} from 'vue'

let categories = ref([]);
onMounted(async ()=>{
    getCategories()
})

const getCategories = async ()=>{
    let response = await axios.get('/api/categories');
    categories.value = response.data.categories
}


</script>

<template>
    <div>
        <h1>Category List</h1>
        <router-link to="/create_category" class="btn">create item</router-link>

        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Parent</th>
                <th>Discount</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="category in categories" :key="category.id">
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td v-if="category.category">{{ category.category.name }}</td>
                <td v-else>{{ '-' }}</td>
                <td>{{ category.discounted_price }} %</td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<style scoped>
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

.btn{
    text-decoration: none;
}
</style>

